body{
  background-color: #009EFF;
}
.app{
  background-color: #181D31;
  min-height: 100vt;
  width: 400px;
  margin: 40px auto;
}

.crossed{
  text-decoration: line-through 2px #FF1E1E;
  background-color:white; 
}

ul,li{
list-style-type: none;
padding: 10px;
margin: 0;
font-size: 20px;
color: white;
font-family: 'Caveat', cursive;
}
h1{
  color: #009EFF;
  font-size: 45px;
  font-family: 'Caveat', cursive;
}
.container{
  display: flex;
  justify-content: center;
}
.add{
  margin-top: 5px;
  background: #6FEDD6;
  padding: 10px;
  border: none;
  border-radius: 90px;
  width: 70%;
  color: white;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}
.delete{
  margin-bottom: 5px;
  background:#F57328 ;
  padding: 10px;
  border: none;
  border-radius: 90px;
  width: 70%;
  color: white;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}
input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-size: 25px;
 font-family: 'Caveat', cursive;
}
.smile{
  border-radius: 90px;
}
